@import '~antd/dist/antd.css';

.App {

  /* style={{
    backgroundImage: "linear-gradient(to bottom right,#389e0d,#95de64)",
    border: "none", */
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  border: none;
}

.App .ant-card {
  width: 100%;
  max-width: 850px;
  margin-bottom: 20px;

  border: none;

}

.ant-form-inline .ant-form-item {
  margin-bottom: 20px;
  background: #d9f7be;}

.threeleaves {
  justify-content: end;
}